#show-film {
  display: none;
}

.film {
  cursor: pointer;
  color: #FF66FF;
}

.film:hover {
  test-decoration: underline;
}

.main-header {
  text-align: center;
}

.film-list {
  display: none;
}
